.contacts {
  font-style: normal;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__item {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link--map-color {
  color: var(--white-text-color);
}
