.footer-icon {
    margin-right: 93px;
}

.footer-icon__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-socials__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: var(--white-text-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}

.footer-socials__icon {
    fill: currentColor;
}