.nav {
  display: none;
}

.nav {
  margin-left: 93px;
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 50px;
  }
}

.nav__link--current::after {
  content: '';
  color: var(--accent-color);

  position: absolute;
  bottom: -2px;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
}

.mobile-btn {
  margin: 0;
  padding: 0;
  border: 0;

  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 48px 84px 40px 40px;
  background-color: #fff;
  overflow-y: scroll;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }
  @media screen and (min-with: 768px) {
    display: none;
  }
}

.contats-mobile {
  margin-bottom: 64px;
}
.mobile-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.mobile-menu__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: auto;
  height: 100%;
}

a {
  text-decoration: none;
}

.nav-mobile__item {
  margin-bottom: 35px;
}
.nav-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.nav-mobile__link--active {
  color: var(--accent-color);
}

.social-wrap__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
}
.social-wrap__item:last-child {
  border-right: none;
  padding-right: 0;
}
.social-wrap__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contats-mobile__item {
  margin-bottom: 32px;
}
.contats-mobile__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.contats-mobile__link--active {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-wrap {
  display: flex;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
