.subscribe-form {
  width: 450px;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.footer-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.subscribe {
  padding: 0;

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}

.subscribe__input {
  outline: 1px solid red;
  padding: 0;
  padding: 15px 16px;

  height: 50px;
  width: 100%;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-text-color);

  @media screen and (max-width: 768px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  transition: background-color var(--cubic-bizier-time);
  &:hover,
  &:focus {
    background: var(--change-active-cl);
  }

  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.subscribe__icon {
  fill: #fff;
}
