body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header,
footer,
section {
  display: none;
}
.block {
  display: block;
}
